* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe;
}



.nav-bar {
    align-items: center;
    display: flex;
    height: 70px;
    box-shadow: 1px 1px 10px;
}

.logo {
    width: 100px;
    margin-left: 8px;
}

.categories {
    margin-left: 25px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.search-bar {
    margin-left: 25px;
    flex-grow: 1;
    height: 70%;
    border: 1px solid #1c1d1f;
    border-radius: 9999px;
    background-color: #f7f9fa;
}

.search-bar .search {
    background-color: transparent;
    outline-style: none;
    border: none;
    width: 70%;
    margin-top: 15px;
}
.search-bar .btn img{
    width: 30px;
}

.show {
    display: block;
}

.Business {
    margin-left: 25px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.Teach {
    margin-left: 25px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.Business:hover,
.Teach:hover,
.categories:hover {
    color: #972dd4;
}

.cart-logo {
    width: 20px;
    margin-left: 25px;
}

.nav-bar .b1,
.nav-bar .b2 {
    background-color: white;
    margin-left: 20px;
    border-width: 1px;
    font-size: 15px;
    cursor: pointer;
    height: 40px;
    width: 60px;
}

.nav-bar .b2 {
    background-color: black;
    color: white;
}

.nav-bar .b1:hover {
    background-color: rgb(235, 235, 235);
}

.world-logo {
    width: 30px;
    height: 30px;
}

.nav-bar .b3 {
    background-color: white;
    border-width: 1px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.dash {
    display: none;
    background-color: white;
    border-width: 0px;
    height: 30px;
    width: 30px;
}

button:hover {
    cursor: pointer;
}

.dash-logo {
    display: none;
    border-width: 0px;
    height: 30px;
    width: 30px;
}

.head {
    background-color: #f8f9fb;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.ff {
    max-width: 100%;
    height: auto;
}

.top-div {
    margin-left: 3%;
    margin-top: 3%;
}

.categories-buttons {
    margin-left: 2.5%;
    margin-top: 1%;
    width: 90%;
}

.b-python,
.b-excel,
.b-web,
.b-js,
.b-data-science,
.b-AWS,
.b-drawing {
    background-color: white;
    border: none;
    margin-left: 8px;
    font-size: 17px;
}

.b-python:hover,
.b-excel:hover,
.b-web:hover,
.b-js:hover,
.b-data-science:hover,
.b-AWS:hover,
.b-drawing:hover {
    color: #972dd4;
}

.mid-div {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 2%;
    border: 1px solid #d1d7dc;
    padding: 2rem;
}

.item-container{
    border: rgb(202, 202, 202) solid;

    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-top: 40px;
}
.grid-item {
    width: 200px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.grid-item img{
    width: 200px;
}
.grid-item h4{
    width: 200px;
}
.grid-item p{
    width: 200px;
}
.carousel-control-next-icon{
    content: url("images/icons8-arrow-91-right.png");
    width: 50px;
    height: 50px;
    margin-left: 70px;
    
}
.carousel-control-prev-icon{
    content: url("images/icons8-arrow-91-left.png");
    width: 50px;
    height: 50px;
    margin-right: 70px;
}

footer .foot {
    width: 75px;
    margin-left: 2%;
}

footer {
    margin-top: 10;
    height: 13%;
    background-color: black;
}

@media only screen and (max-width: 700px) {
    .search-bar {
        display: none;
    }

    .logo-div {
        float: right;
        margin-top: 17px;
        margin-right: 10px;
    }

    .nav-bar .b1,
    .nav-bar .b2,
    .nav-bar .b3 {
        display: none;
    }

    .nav-bar {
        display: block;
    }

    .cart-logo,
    .world-logo {
        display: none;
    }

    .dash {
        display: block;
        float: left;
        margin-top: 18px;
        margin-left: 8px;
    }

    .dash-logo {
        display: block;
    }

}

@media only screen and (max-width: 1000px) {

    .categories,
    .Business,
    .Teach {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .index-3{
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .index-2{
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .index-1{
        display: none;
    }
}